/* UNIVERSAL STYLES */

body {
    background: url(../Images/vintage-pecan-free-stretch-blog-background-cream.jpg);
    font-family: 'Libre Franklin', sans-serif;
}

.brand-logo {
    font-family: 'Vollkorn', serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;
}

nav-option {
    font-family: 'Libre Franklin', sans-serif;
}

/*  INDEX STYLES */


.container{
    min-width: 95%
}

.addCustomerStyle {
    float: right;
    margin-bottom: 10px;
}

#addCustomer>button {
    margin-bottom: 12px;
    min-height: 0px;
    background-color: #8acb88;
    border-color: #8acb88;
    font-weight: bold;
}

#customer-row {
    margin-top: 10px;
}

.panel-default > .panel-heading {
    background-color: #2c3e50;
    border-bottom: 6px solid #8acb88;
    padding: 10px 10px 10px 48px;
    color: #FFF;
}

.name-div {
    min-width: 200px;
}

th {
    text-align: left;
    font-size: 14px;
}

.button-div {
    min-width: 100px;
    margin-top: 5px;
}

.date-enter-td {
    min-width: 100px;
}

.notes-Td-css {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notes-Td-css:hover {
    overflow: visible;
    white-space: pre-wrap;
}

/* MAP STYLES */

#appcontent {
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

